
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <script src="@Url.Content("~/Scripts/jquery-1.7.1.js")"></script>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet"  type="text/css" />
    <title>_Simple_Layout.cshtml</title>



</head>
<body>
    <section class="content-wrapper main-content clear-fix">

         @RenderBody()
    </section>
       
        
    
</body>
</html>
